* {
    
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 36px;
    
}

.container-spaghetti {
    background-color: rgb(185, 214, 228);
    text-align: center;
}


img {
    border: white 1px solid;
    height: auto;
    width: 360px;
}

.ingredients {
    text-align: center;
}

.container-ingredients {
    text-align: left;
    
    margin: auto;
    width: 300px;
    
}



