/* body {
   background-color: rgba(20, 160, 241, 0.548);
    color: white;
    
    
}

.container {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 36px;
    
}

.image  {
    height: auto;
    width: 360px;
    border: white 3px solid;
    border-radius: 5px;
    
    
    
}

a:link, li{
    text-decoration: none;
    list-style-type: none;
    padding: 3px;  
    margin: 1px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    
}

#color-text {
    text-align: center;
    padding: 15px ;
}

 .b {
     background-color: rgb(252, 247, 227);
     border: white 5px solid;
     border-radius: 10px;
 } */


 @import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background:rgb(211, 188, 211) ;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.left-header {
  width: 700px;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 8px;
}

.right-header {
  
  width: 700px;
  
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  align-items: center;
}

.notifications {
 margin-right: 8px;
}


.profile-image {
  background-image: linear-gradient(rebeccapurple 35%,rgb(231, 231, 229));
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;

}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}
.links {
  padding-left: 16px;
}
 