body {
    background-color: rgba(247, 240, 240, 0.911);
    color: gold;
    
}

a:link, li{
    text-decoration: none;
    list-style-type: none;  
}

#color-text {
padding: 20px ;
padding-left: 2px;
}